table {
  border-collapse: collapse;
  border: 2px solid black;
  height: 400px;
  width: 400px;
}
td,
tr,
th {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
.submit-btn {
  background-color: #007bff;
}
button{
    background-color: white;
    border: 0px;
    font-size: 20px;
}
.submit-btn>button{
  height: 100%;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: 0px;
  font-size: 40px;
}
.resultcontainer {
  height: 100px;
}
.resultcontainer > td {
  text-align: end;
}
td,button:hover{
    cursor: pointer;
}
